<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../global.css">
    <title>Bug Quacker Landing Page</title>
</head>
<body>
    <div class="landing-container">
        <div class="landing-header">
            <div class="landing-header-left">
                <!-- bug icon -->
                <img src="../assets/bug.png" alt="Bug Logo" class="bug-icon">
                <h1>Bug Quack</h1>
            </div>
            <div class="landing-header-right">
                    <a href="/">
                        <button class="landing-reg-log-btn">
                        Register</button>
                    </a>
                    <a href="/">
                        <button class="landing-reg-log-btn">Login</button>
                    </a>
            </div>
        </div>
        <div class="landing-body">
                <a href="/">
                    <button class="landing-demo-btn">Demo Account</button>
                </a>
        </div>
    </div>
</body>
</html>